/* body styling */

body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header styling */

.header--main { 
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.p--main {
    color: aquamarine;
    font-size: 16px;
}

/* video en content styling */

.phone-video {
    background-color: black;
    text-align: center;
}

.content--main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    font-size: 42px;
    color: #ffffff;
}

/* footer styling */

.h4--main {
    color: grey;
}

.h4-footer--main {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

/* copyright styling */

#copyright {
    text-align: right;
    color: grey;
}